<%= form_for @cat, :html => {:multipart => true} do |f| %>
  <% if @cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cat.errors.count, "error") %> prohibited this cat from being saved:</h2>

      <ul>
      <% @cat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row field">
      <div class="col-sm-2">
       <%= f.label :name %>
     </div>
      <div class="col-sm-4">
        <%= f.text_field :name, :class => "form-control" %>
      </div>
    </div>
    <div class="row field">
          <div class="col-sm-2">
       <%= f.label :color %><br>
     </div>
      <div class="col-sm-4">
        <%= f.text_field :color, :class => "form-control" %>
      </div>
    </div>
        <div class="row field">
           <div class="col-sm-2">
       <%= f.label :race %><br>
     </div>
      <div class="col-sm-4">
        <%= f.text_field :race, :class => "form-control" %>
      </div>
    </div>
  <div class="row field">
      <div class="col-sm-2">
       <%= f.label :gender %><br>
     </div>
    <div class="col-sm-4">
      <%= f.radio_button :gender, :male, :checked => true %>
      <%= f.label :gender_male, 'Male' %>
      <%= f.radio_button :gender, :female %>
      <%= f.label :gender_female, 'Female' %>
    </div>
  </div>
  <div class="field field">
    <%= f.file_field :image %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
