<p id="notice"><%= notice %></p>

<div id="cats">
    <div class="row">
        <% @cats.each do |cat| %>
            <div class="cat">
                <%= link_to cat do %>
                    <div class="thumbnail">
                        <%= image_tag cat.image_url.to_s %>
                    </div>
                <%end%>
                <div class="name"><%= cat.name %></div>
            </div>
        <% end %>
        <br class="clear"/>
    </div>
</div>
<div class="lower"><%= link_to '<button type="button">Add new cat</button>'.html_safe, new_cat_path %></div>
