<p id="notice"><%= notice %></p>

<div id="cats">
    <% @cats.each do |cat| %>
        <div class="cat">
            <%= image_tag cat.image_url.to_s %>
            <div class="name"><b>Name:</b> <%= cat.name %></div>
            <div class="race"><b>Race:</b> <%= cat.race %></div>
            <div class="gender"><b>Gender:</b> <%= cat.gender %></div>
            <div class="color"><b>Color:</b>: <%= cat.color %></div>
            <div class="actions">
                <%= link_to 'Show', cat %>
                <%= link_to 'Edit', edit_cat_path(cat) %>
                <%= link_to 'Delete', cat, method: :delete, data: { confirm: 'Are you sure?' } %>  
            </div>
        </div>
    <% end %>
<p><%= link_to 'Add New Cat', new_cat_path %></p>
</div>
