<p id="notice"><%= notice %></p>
<div class="col-xs-12">
    <div class="col-xs-12 col-md-6">
    <div class="thumbnail">
      <%= image_tag @cat.image_url.to_s %>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
  <p>
    <strong>Name:</strong>
    <%= @cat.name %>
  </p>
  
  <p>
    <strong>Color:</strong>
    <%= @cat.color %>
  </p>
  
  <p>
    <strong>Race:</strong>
    <%= @cat.race %>
  </p>
  
  <p>
    <strong>Gender:</strong>
    <%= @cat.gender %>
  </p>
  </div>

  <div class="btn-group">
    <%= link_to '<button type="button" class="btn btn-default">Edit</button>'.html_safe, edit_cat_path(@cat) %>
    <%= link_to '<button type="button" class="btn btn-default">Delete</button>'.html_safe, @cat, method: :delete, data: { confirm: 'Are you sure?' } %> 
    <%= link_to '<button type="button" class="btn btn-default">Back to cats</button>'.html_safe, cats_path %>
  </div>
</div>


