<p id="notice"><%= notice %></p>
<div class="show">
  <div class="left">
  <p>
    <strong>Name:</strong>
    <%= @cat.name %>
  </p>
  
  <p>
    <strong>Color:</strong>
    <%= @cat.color %>
  </p>
  
  <p>
    <strong>Race:</strong>
    <%= @cat.race %>
  </p>
  
  <p>
    <strong>Gender:</strong>
    <%= @cat.gender %>
  </p>
  </div>
  
  <div class="right">
    <div class="show-img">
      <%= image_tag @cat.image_url.to_s %>
    </div>
  </div>
</div>

<div class="lower"><%= link_to '<button type="button">Edit</button>'.html_safe, edit_cat_path(@cat) %>
<%= link_to '<button type="button">Delete</button>'.html_safe, @cat, method: :delete, data: { confirm: 'Are you sure?' } %> 
<%= link_to '<button type="button">Back to cats</button>'.html_safe, cats_path %></div>
